<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yq.blueray.taobao.dao.blueray.OrderMapper">
  <resultMap id="BaseResultMap" type="com.yq.blueray.taobao.entity.blueray.Order">
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="alipay" jdbcType="VARCHAR" property="alipay" />
    <result column="payable" jdbcType="DOUBLE" property="payable" />
    <result column="postage_payable" jdbcType="DOUBLE" property="postagePayable" />
    <result column="pay_points" jdbcType="INTEGER" property="payPoints" />
    <result column="total_amount" jdbcType="DOUBLE" property="totalAmount" />
    <result column="integral_rebate" jdbcType="INTEGER" property="integralRebate" />
    <result column="actual_payment_amount" jdbcType="DOUBLE" property="actualPaymentAmount" />
    <result column="actual_payment_points" jdbcType="INTEGER" property="actualPaymentPoints" />
    <result column="order_states" jdbcType="VARCHAR" property="orderStates" />
    <result column="buyer_message" jdbcType="VARCHAR" property="buyerMessage" />
    <result column="consignee_name" jdbcType="VARCHAR" property="consigneeName" />
    <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="transportation_mode" jdbcType="VARCHAR" property="transportationMode" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="contact_mobile_phone" jdbcType="VARCHAR" property="contactMobilePhone" />
    <result column="order_creation_time" jdbcType="BIGINT" property="orderCreationTime" />
    <result column="Order_payment_time" jdbcType="BIGINT" property="orderPaymentTime" />
    <result column="baby_title" jdbcType="VARCHAR" property="babyTitle" />
    <result column="baby_kind" jdbcType="VARCHAR" property="babyKind" />
    <result column="logistics_number" jdbcType="VARCHAR" property="logisticsNumber" />
    <result column="logistics_company" jdbcType="VARCHAR" property="logisticsCompany" />
    <result column="order_note" jdbcType="VARCHAR" property="orderNote" />
    <result column="baby_total_quantity" jdbcType="INTEGER" property="babyTotalQuantity" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="shop_name_num" jdbcType="VARCHAR" property="shopNameNum" />
    <result column="order_closing_reason" jdbcType="VARCHAR" property="orderClosingReason" />
    <result column="seller_service_charge" jdbcType="DOUBLE" property="sellerServiceCharge" />
    <result column="buyer_service_charge" jdbcType="VARCHAR" property="buyerServiceCharge" />
    <result column="invoice_header" jdbcType="VARCHAR" property="invoiceHeader" />
    <result column="mobile_phone_order" jdbcType="VARCHAR" property="mobilePhoneOrder" />
    <result column="staged_order_information" jdbcType="VARCHAR" property="stagedOrderInformation" />
    <result column="privileged_deposit_order_ID" jdbcType="INTEGER" property="privilegedDepositOrderId" />
    <result column="upload_contract_photos" jdbcType="VARCHAR" property="uploadContractPhotos" />
    <result column="upload_small_ticket" jdbcType="VARCHAR" property="uploadSmallTicket" />
    <result column="whether_to_pay" jdbcType="VARCHAR" property="whetherToPay" />
    <result column="deposit_ranking" jdbcType="VARCHAR" property="depositRanking" />
    <result column="modified_SKU" jdbcType="VARCHAR" property="modifiedSku" />
    <result column="revised_delivery_address" jdbcType="VARCHAR" property="revisedDeliveryAddress" />
    <result column="exception_information" jdbcType="VARCHAR" property="exceptionInformation" />
    <result column="tmall_card_deduction" jdbcType="INTEGER" property="tmallCardDeduction" />
    <result column="set_points_treasure_deduction" jdbcType="INTEGER" property="setPointsTreasureDeduction" />
    <result column="O2Odeal" jdbcType="VARCHAR" property="o2odeal" />
    <result column="refund_amount" jdbcType="DOUBLE" property="refundAmount" />
    <result column="booking_store" jdbcType="VARCHAR" property="bookingStore" />
    <result column="confirm_the_delivery_time" jdbcType="VARCHAR" property="confirmTheDeliveryTime" />
    <result column="merchant_money" jdbcType="VARCHAR" property="merchantMoney" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="baby_count" jdbcType="INTEGER" property="babyCount" />
    <result column="available_quantity" jdbcType="INTEGER" property="availableQuantity" />
    <result column="total_cost" jdbcType="DOUBLE" property="totalCost" />
    <result column="total_discount_price" jdbcType="DOUBLE" property="totalDiscountPrice" />
    <result column="profit" jdbcType="DOUBLE" property="profit" />
  </resultMap>
  <sql id="Base_Column_List">
    oid, shop_name, order_number, member_name, alipay, payable, postage_payable, pay_points, 
    total_amount, integral_rebate, actual_payment_amount, actual_payment_points, order_states, 
    buyer_message, consignee_name, delivery_address, transportation_mode, contact_number, 
    contact_mobile_phone, order_creation_time, Order_payment_time, baby_title, baby_kind, 
    logistics_number, logistics_company, order_note, baby_total_quantity, shop_id, shop_name_num, 
    order_closing_reason, seller_service_charge, buyer_service_charge, invoice_header, 
    mobile_phone_order, staged_order_information, privileged_deposit_order_ID, upload_contract_photos, 
    upload_small_ticket, whether_to_pay, deposit_ranking, modified_SKU, revised_delivery_address, 
    exception_information, tmall_card_deduction, set_points_treasure_deduction, O2Odeal, 
    refund_amount, booking_store, confirm_the_delivery_time, merchant_money, update_time, 
    baby_count, available_quantity, total_cost, total_discount_price, profit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yq.blueray.taobao.entity.blueray.Order">
    insert into order (oid, shop_name, order_number, 
      member_name, alipay, payable, 
      postage_payable, pay_points, total_amount, 
      integral_rebate, actual_payment_amount, actual_payment_points, 
      order_states, buyer_message, consignee_name, 
      delivery_address, transportation_mode, contact_number, 
      contact_mobile_phone, order_creation_time, Order_payment_time, 
      baby_title, baby_kind, logistics_number, 
      logistics_company, order_note, baby_total_quantity, 
      shop_id, shop_name_num, order_closing_reason, 
      seller_service_charge, buyer_service_charge, 
      invoice_header, mobile_phone_order, staged_order_information, 
      privileged_deposit_order_ID, upload_contract_photos, 
      upload_small_ticket, whether_to_pay, deposit_ranking, 
      modified_SKU, revised_delivery_address, exception_information, 
      tmall_card_deduction, set_points_treasure_deduction, 
      O2Odeal, refund_amount, booking_store, 
      confirm_the_delivery_time, merchant_money, 
      update_time, baby_count, available_quantity, 
      total_cost, total_discount_price, profit
      )
    values (#{oid,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{alipay,jdbcType=VARCHAR}, #{payable,jdbcType=DOUBLE}, 
      #{postagePayable,jdbcType=DOUBLE}, #{payPoints,jdbcType=INTEGER}, #{totalAmount,jdbcType=DOUBLE}, 
      #{integralRebate,jdbcType=INTEGER}, #{actualPaymentAmount,jdbcType=DOUBLE}, #{actualPaymentPoints,jdbcType=INTEGER}, 
      #{orderStates,jdbcType=VARCHAR}, #{buyerMessage,jdbcType=VARCHAR}, #{consigneeName,jdbcType=VARCHAR}, 
      #{deliveryAddress,jdbcType=VARCHAR}, #{transportationMode,jdbcType=VARCHAR}, #{contactNumber,jdbcType=VARCHAR}, 
      #{contactMobilePhone,jdbcType=VARCHAR}, #{orderCreationTime,jdbcType=BIGINT}, #{orderPaymentTime,jdbcType=BIGINT}, 
      #{babyTitle,jdbcType=VARCHAR}, #{babyKind,jdbcType=VARCHAR}, #{logisticsNumber,jdbcType=VARCHAR}, 
      #{logisticsCompany,jdbcType=VARCHAR}, #{orderNote,jdbcType=VARCHAR}, #{babyTotalQuantity,jdbcType=INTEGER}, 
      #{shopId,jdbcType=INTEGER}, #{shopNameNum,jdbcType=VARCHAR}, #{orderClosingReason,jdbcType=VARCHAR}, 
      #{sellerServiceCharge,jdbcType=DOUBLE}, #{buyerServiceCharge,jdbcType=VARCHAR}, 
      #{invoiceHeader,jdbcType=VARCHAR}, #{mobilePhoneOrder,jdbcType=VARCHAR}, #{stagedOrderInformation,jdbcType=VARCHAR}, 
      #{privilegedDepositOrderId,jdbcType=INTEGER}, #{uploadContractPhotos,jdbcType=VARCHAR}, 
      #{uploadSmallTicket,jdbcType=VARCHAR}, #{whetherToPay,jdbcType=VARCHAR}, #{depositRanking,jdbcType=VARCHAR}, 
      #{modifiedSku,jdbcType=VARCHAR}, #{revisedDeliveryAddress,jdbcType=VARCHAR}, #{exceptionInformation,jdbcType=VARCHAR}, 
      #{tmallCardDeduction,jdbcType=INTEGER}, #{setPointsTreasureDeduction,jdbcType=INTEGER}, 
      #{o2odeal,jdbcType=VARCHAR}, #{refundAmount,jdbcType=DOUBLE}, #{bookingStore,jdbcType=VARCHAR}, 
      #{confirmTheDeliveryTime,jdbcType=VARCHAR}, #{merchantMoney,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=BIGINT}, #{babyCount,jdbcType=INTEGER}, #{availableQuantity,jdbcType=INTEGER}, 
      #{totalCost,jdbcType=DOUBLE}, #{totalDiscountPrice,jdbcType=DOUBLE}, #{profit,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yq.blueray.taobao.entity.blueray.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        oid,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="alipay != null">
        alipay,
      </if>
      <if test="payable != null">
        payable,
      </if>
      <if test="postagePayable != null">
        postage_payable,
      </if>
      <if test="payPoints != null">
        pay_points,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="integralRebate != null">
        integral_rebate,
      </if>
      <if test="actualPaymentAmount != null">
        actual_payment_amount,
      </if>
      <if test="actualPaymentPoints != null">
        actual_payment_points,
      </if>
      <if test="orderStates != null">
        order_states,
      </if>
      <if test="buyerMessage != null">
        buyer_message,
      </if>
      <if test="consigneeName != null">
        consignee_name,
      </if>
      <if test="deliveryAddress != null">
        delivery_address,
      </if>
      <if test="transportationMode != null">
        transportation_mode,
      </if>
      <if test="contactNumber != null">
        contact_number,
      </if>
      <if test="contactMobilePhone != null">
        contact_mobile_phone,
      </if>
      <if test="orderCreationTime != null">
        order_creation_time,
      </if>
      <if test="orderPaymentTime != null">
        Order_payment_time,
      </if>
      <if test="babyTitle != null">
        baby_title,
      </if>
      <if test="babyKind != null">
        baby_kind,
      </if>
      <if test="logisticsNumber != null">
        logistics_number,
      </if>
      <if test="logisticsCompany != null">
        logistics_company,
      </if>
      <if test="orderNote != null">
        order_note,
      </if>
      <if test="babyTotalQuantity != null">
        baby_total_quantity,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="shopNameNum != null">
        shop_name_num,
      </if>
      <if test="orderClosingReason != null">
        order_closing_reason,
      </if>
      <if test="sellerServiceCharge != null">
        seller_service_charge,
      </if>
      <if test="buyerServiceCharge != null">
        buyer_service_charge,
      </if>
      <if test="invoiceHeader != null">
        invoice_header,
      </if>
      <if test="mobilePhoneOrder != null">
        mobile_phone_order,
      </if>
      <if test="stagedOrderInformation != null">
        staged_order_information,
      </if>
      <if test="privilegedDepositOrderId != null">
        privileged_deposit_order_ID,
      </if>
      <if test="uploadContractPhotos != null">
        upload_contract_photos,
      </if>
      <if test="uploadSmallTicket != null">
        upload_small_ticket,
      </if>
      <if test="whetherToPay != null">
        whether_to_pay,
      </if>
      <if test="depositRanking != null">
        deposit_ranking,
      </if>
      <if test="modifiedSku != null">
        modified_SKU,
      </if>
      <if test="revisedDeliveryAddress != null">
        revised_delivery_address,
      </if>
      <if test="exceptionInformation != null">
        exception_information,
      </if>
      <if test="tmallCardDeduction != null">
        tmall_card_deduction,
      </if>
      <if test="setPointsTreasureDeduction != null">
        set_points_treasure_deduction,
      </if>
      <if test="o2odeal != null">
        O2Odeal,
      </if>
      <if test="refundAmount != null">
        refund_amount,
      </if>
      <if test="bookingStore != null">
        booking_store,
      </if>
      <if test="confirmTheDeliveryTime != null">
        confirm_the_delivery_time,
      </if>
      <if test="merchantMoney != null">
        merchant_money,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="babyCount != null">
        baby_count,
      </if>
      <if test="availableQuantity != null">
        available_quantity,
      </if>
      <if test="totalCost != null">
        total_cost,
      </if>
      <if test="totalDiscountPrice != null">
        total_discount_price,
      </if>
      <if test="profit != null">
        profit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oid != null">
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="alipay != null">
        #{alipay,jdbcType=VARCHAR},
      </if>
      <if test="payable != null">
        #{payable,jdbcType=DOUBLE},
      </if>
      <if test="postagePayable != null">
        #{postagePayable,jdbcType=DOUBLE},
      </if>
      <if test="payPoints != null">
        #{payPoints,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="integralRebate != null">
        #{integralRebate,jdbcType=INTEGER},
      </if>
      <if test="actualPaymentAmount != null">
        #{actualPaymentAmount,jdbcType=DOUBLE},
      </if>
      <if test="actualPaymentPoints != null">
        #{actualPaymentPoints,jdbcType=INTEGER},
      </if>
      <if test="orderStates != null">
        #{orderStates,jdbcType=VARCHAR},
      </if>
      <if test="buyerMessage != null">
        #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="consigneeName != null">
        #{consigneeName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="transportationMode != null">
        #{transportationMode,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactMobilePhone != null">
        #{contactMobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="orderCreationTime != null">
        #{orderCreationTime,jdbcType=BIGINT},
      </if>
      <if test="orderPaymentTime != null">
        #{orderPaymentTime,jdbcType=BIGINT},
      </if>
      <if test="babyTitle != null">
        #{babyTitle,jdbcType=VARCHAR},
      </if>
      <if test="babyKind != null">
        #{babyKind,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNumber != null">
        #{logisticsNumber,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompany != null">
        #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="orderNote != null">
        #{orderNote,jdbcType=VARCHAR},
      </if>
      <if test="babyTotalQuantity != null">
        #{babyTotalQuantity,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopNameNum != null">
        #{shopNameNum,jdbcType=VARCHAR},
      </if>
      <if test="orderClosingReason != null">
        #{orderClosingReason,jdbcType=VARCHAR},
      </if>
      <if test="sellerServiceCharge != null">
        #{sellerServiceCharge,jdbcType=DOUBLE},
      </if>
      <if test="buyerServiceCharge != null">
        #{buyerServiceCharge,jdbcType=VARCHAR},
      </if>
      <if test="invoiceHeader != null">
        #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhoneOrder != null">
        #{mobilePhoneOrder,jdbcType=VARCHAR},
      </if>
      <if test="stagedOrderInformation != null">
        #{stagedOrderInformation,jdbcType=VARCHAR},
      </if>
      <if test="privilegedDepositOrderId != null">
        #{privilegedDepositOrderId,jdbcType=INTEGER},
      </if>
      <if test="uploadContractPhotos != null">
        #{uploadContractPhotos,jdbcType=VARCHAR},
      </if>
      <if test="uploadSmallTicket != null">
        #{uploadSmallTicket,jdbcType=VARCHAR},
      </if>
      <if test="whetherToPay != null">
        #{whetherToPay,jdbcType=VARCHAR},
      </if>
      <if test="depositRanking != null">
        #{depositRanking,jdbcType=VARCHAR},
      </if>
      <if test="modifiedSku != null">
        #{modifiedSku,jdbcType=VARCHAR},
      </if>
      <if test="revisedDeliveryAddress != null">
        #{revisedDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="exceptionInformation != null">
        #{exceptionInformation,jdbcType=VARCHAR},
      </if>
      <if test="tmallCardDeduction != null">
        #{tmallCardDeduction,jdbcType=INTEGER},
      </if>
      <if test="setPointsTreasureDeduction != null">
        #{setPointsTreasureDeduction,jdbcType=INTEGER},
      </if>
      <if test="o2odeal != null">
        #{o2odeal,jdbcType=VARCHAR},
      </if>
      <if test="refundAmount != null">
        #{refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="bookingStore != null">
        #{bookingStore,jdbcType=VARCHAR},
      </if>
      <if test="confirmTheDeliveryTime != null">
        #{confirmTheDeliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="merchantMoney != null">
        #{merchantMoney,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="babyCount != null">
        #{babyCount,jdbcType=INTEGER},
      </if>
      <if test="availableQuantity != null">
        #{availableQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalCost != null">
        #{totalCost,jdbcType=DOUBLE},
      </if>
      <if test="totalDiscountPrice != null">
        #{totalDiscountPrice,jdbcType=DOUBLE},
      </if>
      <if test="profit != null">
        #{profit,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yq.blueray.taobao.entity.blueray.Order">
    update order
    <set>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="alipay != null">
        alipay = #{alipay,jdbcType=VARCHAR},
      </if>
      <if test="payable != null">
        payable = #{payable,jdbcType=DOUBLE},
      </if>
      <if test="postagePayable != null">
        postage_payable = #{postagePayable,jdbcType=DOUBLE},
      </if>
      <if test="payPoints != null">
        pay_points = #{payPoints,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="integralRebate != null">
        integral_rebate = #{integralRebate,jdbcType=INTEGER},
      </if>
      <if test="actualPaymentAmount != null">
        actual_payment_amount = #{actualPaymentAmount,jdbcType=DOUBLE},
      </if>
      <if test="actualPaymentPoints != null">
        actual_payment_points = #{actualPaymentPoints,jdbcType=INTEGER},
      </if>
      <if test="orderStates != null">
        order_states = #{orderStates,jdbcType=VARCHAR},
      </if>
      <if test="buyerMessage != null">
        buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      </if>
      <if test="consigneeName != null">
        consignee_name = #{consigneeName,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="transportationMode != null">
        transportation_mode = #{transportationMode,jdbcType=VARCHAR},
      </if>
      <if test="contactNumber != null">
        contact_number = #{contactNumber,jdbcType=VARCHAR},
      </if>
      <if test="contactMobilePhone != null">
        contact_mobile_phone = #{contactMobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="orderCreationTime != null">
        order_creation_time = #{orderCreationTime,jdbcType=BIGINT},
      </if>
      <if test="orderPaymentTime != null">
        Order_payment_time = #{orderPaymentTime,jdbcType=BIGINT},
      </if>
      <if test="babyTitle != null">
        baby_title = #{babyTitle,jdbcType=VARCHAR},
      </if>
      <if test="babyKind != null">
        baby_kind = #{babyKind,jdbcType=VARCHAR},
      </if>
      <if test="logisticsNumber != null">
        logistics_number = #{logisticsNumber,jdbcType=VARCHAR},
      </if>
      <if test="logisticsCompany != null">
        logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      </if>
      <if test="orderNote != null">
        order_note = #{orderNote,jdbcType=VARCHAR},
      </if>
      <if test="babyTotalQuantity != null">
        baby_total_quantity = #{babyTotalQuantity,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="shopNameNum != null">
        shop_name_num = #{shopNameNum,jdbcType=VARCHAR},
      </if>
      <if test="orderClosingReason != null">
        order_closing_reason = #{orderClosingReason,jdbcType=VARCHAR},
      </if>
      <if test="sellerServiceCharge != null">
        seller_service_charge = #{sellerServiceCharge,jdbcType=DOUBLE},
      </if>
      <if test="buyerServiceCharge != null">
        buyer_service_charge = #{buyerServiceCharge,jdbcType=VARCHAR},
      </if>
      <if test="invoiceHeader != null">
        invoice_header = #{invoiceHeader,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhoneOrder != null">
        mobile_phone_order = #{mobilePhoneOrder,jdbcType=VARCHAR},
      </if>
      <if test="stagedOrderInformation != null">
        staged_order_information = #{stagedOrderInformation,jdbcType=VARCHAR},
      </if>
      <if test="privilegedDepositOrderId != null">
        privileged_deposit_order_ID = #{privilegedDepositOrderId,jdbcType=INTEGER},
      </if>
      <if test="uploadContractPhotos != null">
        upload_contract_photos = #{uploadContractPhotos,jdbcType=VARCHAR},
      </if>
      <if test="uploadSmallTicket != null">
        upload_small_ticket = #{uploadSmallTicket,jdbcType=VARCHAR},
      </if>
      <if test="whetherToPay != null">
        whether_to_pay = #{whetherToPay,jdbcType=VARCHAR},
      </if>
      <if test="depositRanking != null">
        deposit_ranking = #{depositRanking,jdbcType=VARCHAR},
      </if>
      <if test="modifiedSku != null">
        modified_SKU = #{modifiedSku,jdbcType=VARCHAR},
      </if>
      <if test="revisedDeliveryAddress != null">
        revised_delivery_address = #{revisedDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="exceptionInformation != null">
        exception_information = #{exceptionInformation,jdbcType=VARCHAR},
      </if>
      <if test="tmallCardDeduction != null">
        tmall_card_deduction = #{tmallCardDeduction,jdbcType=INTEGER},
      </if>
      <if test="setPointsTreasureDeduction != null">
        set_points_treasure_deduction = #{setPointsTreasureDeduction,jdbcType=INTEGER},
      </if>
      <if test="o2odeal != null">
        O2Odeal = #{o2odeal,jdbcType=VARCHAR},
      </if>
      <if test="refundAmount != null">
        refund_amount = #{refundAmount,jdbcType=DOUBLE},
      </if>
      <if test="bookingStore != null">
        booking_store = #{bookingStore,jdbcType=VARCHAR},
      </if>
      <if test="confirmTheDeliveryTime != null">
        confirm_the_delivery_time = #{confirmTheDeliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="merchantMoney != null">
        merchant_money = #{merchantMoney,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="babyCount != null">
        baby_count = #{babyCount,jdbcType=INTEGER},
      </if>
      <if test="availableQuantity != null">
        available_quantity = #{availableQuantity,jdbcType=INTEGER},
      </if>
      <if test="totalCost != null">
        total_cost = #{totalCost,jdbcType=DOUBLE},
      </if>
      <if test="totalDiscountPrice != null">
        total_discount_price = #{totalDiscountPrice,jdbcType=DOUBLE},
      </if>
      <if test="profit != null">
        profit = #{profit,jdbcType=DOUBLE},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yq.blueray.taobao.entity.blueray.Order">
    update order
    set shop_name = #{shopName,jdbcType=VARCHAR},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      alipay = #{alipay,jdbcType=VARCHAR},
      payable = #{payable,jdbcType=DOUBLE},
      postage_payable = #{postagePayable,jdbcType=DOUBLE},
      pay_points = #{payPoints,jdbcType=INTEGER},
      total_amount = #{totalAmount,jdbcType=DOUBLE},
      integral_rebate = #{integralRebate,jdbcType=INTEGER},
      actual_payment_amount = #{actualPaymentAmount,jdbcType=DOUBLE},
      actual_payment_points = #{actualPaymentPoints,jdbcType=INTEGER},
      order_states = #{orderStates,jdbcType=VARCHAR},
      buyer_message = #{buyerMessage,jdbcType=VARCHAR},
      consignee_name = #{consigneeName,jdbcType=VARCHAR},
      delivery_address = #{deliveryAddress,jdbcType=VARCHAR},
      transportation_mode = #{transportationMode,jdbcType=VARCHAR},
      contact_number = #{contactNumber,jdbcType=VARCHAR},
      contact_mobile_phone = #{contactMobilePhone,jdbcType=VARCHAR},
      order_creation_time = #{orderCreationTime,jdbcType=BIGINT},
      Order_payment_time = #{orderPaymentTime,jdbcType=BIGINT},
      baby_title = #{babyTitle,jdbcType=VARCHAR},
      baby_kind = #{babyKind,jdbcType=VARCHAR},
      logistics_number = #{logisticsNumber,jdbcType=VARCHAR},
      logistics_company = #{logisticsCompany,jdbcType=VARCHAR},
      order_note = #{orderNote,jdbcType=VARCHAR},
      baby_total_quantity = #{babyTotalQuantity,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER},
      shop_name_num = #{shopNameNum,jdbcType=VARCHAR},
      order_closing_reason = #{orderClosingReason,jdbcType=VARCHAR},
      seller_service_charge = #{sellerServiceCharge,jdbcType=DOUBLE},
      buyer_service_charge = #{buyerServiceCharge,jdbcType=VARCHAR},
      invoice_header = #{invoiceHeader,jdbcType=VARCHAR},
      mobile_phone_order = #{mobilePhoneOrder,jdbcType=VARCHAR},
      staged_order_information = #{stagedOrderInformation,jdbcType=VARCHAR},
      privileged_deposit_order_ID = #{privilegedDepositOrderId,jdbcType=INTEGER},
      upload_contract_photos = #{uploadContractPhotos,jdbcType=VARCHAR},
      upload_small_ticket = #{uploadSmallTicket,jdbcType=VARCHAR},
      whether_to_pay = #{whetherToPay,jdbcType=VARCHAR},
      deposit_ranking = #{depositRanking,jdbcType=VARCHAR},
      modified_SKU = #{modifiedSku,jdbcType=VARCHAR},
      revised_delivery_address = #{revisedDeliveryAddress,jdbcType=VARCHAR},
      exception_information = #{exceptionInformation,jdbcType=VARCHAR},
      tmall_card_deduction = #{tmallCardDeduction,jdbcType=INTEGER},
      set_points_treasure_deduction = #{setPointsTreasureDeduction,jdbcType=INTEGER},
      O2Odeal = #{o2odeal,jdbcType=VARCHAR},
      refund_amount = #{refundAmount,jdbcType=DOUBLE},
      booking_store = #{bookingStore,jdbcType=VARCHAR},
      confirm_the_delivery_time = #{confirmTheDeliveryTime,jdbcType=VARCHAR},
      merchant_money = #{merchantMoney,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=BIGINT},
      baby_count = #{babyCount,jdbcType=INTEGER},
      available_quantity = #{availableQuantity,jdbcType=INTEGER},
      total_cost = #{totalCost,jdbcType=DOUBLE},
      total_discount_price = #{totalDiscountPrice,jdbcType=DOUBLE},
      profit = #{profit,jdbcType=DOUBLE}
    where oid = #{oid,jdbcType=INTEGER}
  </update>
</mapper>