<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>HelloWorld</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.bootcss.com/Sortable/1.6.0/Sortable.js"></script>
</head>
<body>

<div id="app1">
    <el-input v-model="input" placeholder=""></el-input>
</div>

<div id="buy">
   <el-table
           :data="tableData"
           stripe
           style="width: 100%">
    <el-table-column
            prop="date"
            label="已出库,客户未购买"
            width="180">
    </el-table-column>
    <el-table-column
            prop="name"
            label="姓名"
            width="180">
    </el-table-column>

    <el-table-column
            prop="address"
            label="地址">
    </el-table-column>

    <el-table-column
            prop="upload_img"
            label="图片">

          <template scope="scope" >
            <img :src="scope.row.upload_img" width="120" height="80" onload="formatter_upload_img('scope.row.upload_img');" />
          </template>

    </el-table-column>
  </el-table>
</div>

<div id="treasury">
    <el-table
            :data="tableData"
            stripe
            style="width: 100%">
        <el-table-column
                prop="date"
                label="已出库,未购买"
                width="180">
        </el-table-column>

        <el-table-column
                prop="name"
                label="姓名"
                width="180">
        </el-table-column>

        <el-table-column
                prop="address"
                label="地址">
        </el-table-column>

        <el-table-column
                prop="upload_img"
                label="图片">

            <template scope="scope" >
                <img :src="scope.row.upload_img" width="120" height="80" onload="formatter_upload_img('scope.row.upload_img');" />
            </template>

        </el-table-column>
    </el-table>
</div>

<script>

 var testVue = new Vue({
   el:'#treasury',
   data(){
     return {
       tableData: [{
         date: '2016-05-02',
         name: '王小虎',
         address: '上海市普陀区金沙江路 1518 弄',
         upload_img:"http://img.shein.com/images2/2018/05/09/15258522023136879796.png"}]
     }
   },
 });

 var app1 = new Vue({
   el:'#app1',
   data(){
     return {
       input : '123'
     }
   }
 });

 var testVue = new Vue({
   el:'#buy',
   data:{
       tableData: [],
       getUrl: 'http://localhost:8080/mytime/getTodayTomatos',
   },
   created: function(){
     this.getTableData()
   },
   methods:{
     getTableData:function(){
       var self = this;
       $.ajax({
         type : "post",
         dataType : "json",
         contentType : "application/json",
         url : self.getUrl,
         success : function(data) {
           self.tableData=json.fitomatos;
         },
         error : function(json) {
           alert("加载失败");
         }
       });
     },
     handleEdit(index, row) {
       console.log(index, row.name);
     },
     handleDelete(index, row) {
       console.log(index, row);
     }
   }
 });


 function formatter_upload_img(value){
   console.log("########formatter_upload_img")
   console.log(value)
   // console.log(scope.row)
   //return row.date == "2016-05-04" ? '男' : row.sex == 0 ? '女' : '未知';
   //格式化是针对表格内容即使data数据
   // var newDate = row.date== "" ? "-" : row.date.replace(/-/g,"/")
   // return newDate
 };

</script>
</body>
</html></span>
