<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>HelloWorld</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.6/lib/theme-chalk/index.css">

</head>
<body>
    <div>
        <el-upload
                id="app"
                class="upload-demo"
                ref="upload"
                action="/upload/csvupload"
                multiple
                :on-preview="handlePreview"
                :on-remove="handleRemove"
                :file-list="fileList"
                :auto-upload="false"
                :on-success="success"
                :on-error="error"
                >
            <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
            <el-button type="" @click="show">处理数据</el-button>
            <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
        </el-upload>
    </div>
</body>

<script th:src="@{/static/js/pathConfig.js}"></script>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<script type="text/javascript">
  var app = new Vue({
    el:'#app',
    // js 代码在 methods中写入需要调用的方法
      methods: {
        submitUpload() {
          this.$refs.upload.submit();
        },
        handleRemove(file, fileList) {
          console.log(file, fileList);
        },
        handlePreview(file) {
          console.log(file);
        },
        success(response, file, fileList){
          console.log(response,file,fileList);
        },
        error(err, file, fileList){
          console.log(err, file, fileList)
        },
        show(){

        }

    }
  });

</script>
</html>